/* ::ng-deep .carousel-item {
  transition: transform 5s ease-in-out;
} */

app-view {
  opacity: 0;
}

/*::ng-deep .carousel-item {
  animation: vanishShow 2s ease-in-out forwards;
}

@keyframes vanishShow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 */
